<!--The content below is only a placeholder and can be replaced.-->

<img id="image" src="..\assets\zombie banner.jpg" alt="banner image" width="100%" align="middle"> 
<br>
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="checkbox"  autocomplete="off"> Mis historietas
    </label>
    <label class="btn btn-secondary">
      <input type="checkbox" autocomplete="off"> Mis cosas
    </label>
    <label class="btn btn-secondary">
      <input type="checkbox" autocomplete="off"> Mis partners
    </label>

  <label class="btn btn-secondary">
    <input type="checkbox" autocomplete="off"> Hunger games
  </label>
</div>
